@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
body{
    width: 100vw;
    margin: 0 auto;
    background: #000000;
    font-family: "Plus Jakarta Sans", sans-serif;

}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
nav{
    width: 1440px;
    height: 86px;
    background: #EFF0F3;
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 95px;
}

header{
    width: 1440px;
    height: 814px;
    background: #EFF0F3;
}
.browse {

}
main{

}
.subscribe{

}
footer{

}
/*------------------nav-------------------------------*/
.nav__left{
    display: flex;
    justify-content: start;
    align-items: end;
    flex-direction: row;
}
.nav__right{
    display: flex;
}
.nav__right ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    gap: 50px;
    color: #2B2C34;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.nav__right ul img {
    margin-right: 10px;
}
.dasteen{
    color: #001858;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.blog{
    width: 48px;
    height: 27px;
    color:#6246EA;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.nav__right button{
    color: #FFFFFE;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;border-radius: 4px;
    background: #6246EA;
    display: flex;
    padding: 10px 17px;
    align-items: flex-start;
    gap: 10px;
}
.nav__right button {
    margin-left: 50px;
    width: 213px;
    height: 44px;
}
/*----------------------------header--------------------------------*/
.header-left h2{
    width: 617px;
    color: #2B2C34;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.header-left p{
    width: 652px;
    color:#9A9494;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}